.App {
  position:relative;
  background-color: rgba(34, 34, 34, .75);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-left: 10%;
  margin-top: 0%;
  display: block;
}

.App-logo-mountain {
  margin-left: 10%;
  margin-top: -60px;
  display: block;
}


.App h2 {
  margin-left: 10%;
  margin-top: 10%;
  color: white;
  font-size: 4vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.App-sidebar {
  background-color: #222;
  height: 100%;
  width: 33%;
  color: white;
  position: fixed;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
